* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #f6f9fc;
  width: 100%;
  height: 100vh;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header {
  width: 100%;
  padding: 20px 30px;
  background-color: #fff;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  height: 48px;
  align-items: center;
}

header img {
  width: 18px;
  height: 12px;
}

.nav-logo {
  font-size: 18px;
  font-weight: 700;
  width: 76px;
  height: 20px;
  color: #6070ff;
}

.headline {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px 25px;
  background-color: #fff;
}

.headline h1 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  color: #172b4d;
}

.headline p {
  font-size: 16px;
  line-height: 24px;
}

.headline p:nth-child(2) {
  font-weight: 400;
  color: #344563;
}

.headline p:nth-child(3) {
  font-weight: 500;
  color: #7f8cff;
}

.headline ul {
  display: flex;
  gap: 20px;
}

.headline ul li img {
  width: 20px;
  height: 20px;
}

.works {
  padding: 40px 25px;
}

.works-card {
  width: 100%;
  border: 1px solid #DFE1E6;
  border-radius: 16px;
  padding: 16px;
  background-color: #fff;
  margin-bottom: 60px;
}

.works img {
  width: 100%;
  border-radius: 8px;
}

.works h1 {
  font-size: 32px;
  line-height: 44px;
  font-weight: 700;
  color: #172b4d;
  padding-top: 16px;
}

.works-card-block {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 12px;
}

.works-card-info {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 10px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 600;
}


.works-card-info li:nth-child(n+2) {
  color: #7A869A;
  background: url('./assets/Counter.png') no-repeat left 5px;
  padding-left: 1em;
}

.works-card-info li:first-child {
  color: #344563;
  list-style: none;
}

.works p {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #344563;
  padding: 8px 0;
}

.works-card-tech {
  display: flex;
  gap: 10px;
}

.works-card-tech li {
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.03em;
  background: #EBEBFF;
  border-radius: 8px;
  padding: 4px 12px;
  color: #6070FF;
}

button {
border: 1px solid #6070FF;
border-radius: 8px;
padding: 12px;
font-size: 17px;
font-weight: 500;
font-style: bold;
line-height: 24px;
letter-spacing: 0.03em;
text-align: center;
color: #396DF2;
background-color: #ffffff;
margin: 12px 0;
align-self: start;
}


.about {
  padding-top: 100px ;
  border-top-right-radius: 100px;
}

.skill {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 40px 25px;
  background-color: #fff;
}

.skill h2 {
font-size: 20px;
font-weight: 500;
line-height: 24px;
text-align: left;
color: #000000;
}

.skill-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.skill-list-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  border-bottom:  1px solid #EBEBFF;
}

.skill-list-title:nth-child(1){
  border: none;
}

.skill-list-item {
  display: flex;
  background: #F7F7F9;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  gap: 20px;
}

.skill-list-item h3 {
font-size: 15px;
font-weight: 500;
line-height: 20px;
text-align: left;
color: #253858;
}

